<!--  Renders a large image left and small entries right (e.g. 4 tweets)
Template layoutLargeEntrySmallList.ejs

var model = {largeLayoutEntry:res, smallLayoutEntries: []}; -->

<div class="row">
    <div class="col-md-8">
        <% if (model.largeLayoutEntry.source == "instagram") { %>

        <img src="<%= model.largeLayoutEntry.imageUrl %>" alt="">
        <p><%= model.largeLayoutEntry.timestamp %></p>
        <p class="small"><%= model.largeLayoutEntry.text %> </p>

        <% }
        else if (model.largeLayoutEntry.source == "flickr") { %>

        <img src="<%= model.largeLayoutEntry.imageUrl %>" alt="">
        <p><%= model.largeLayoutEntry.user %></p>
        <p class="small"><%= model.largeLayoutEntry.text %> </p>

        <% }
        else if (model.largeLayoutEntry.source == "tumblr.photo") { %>
        <div style="width: 480px; height: 540px">
            <img class="scale" data-scale="best-fit" data-align="top-right" src="<%= model.largeLayoutEntry.imageUrl%>" alt="">
        </div>
        <a href="<%=model.largeLayoutEntry.val1%>" target="_blank"><%=model.largeLayoutEntry.user%></a><!-- val1: postURL -->
        <p class="small"> <%= model.largeLayoutEntry.text %> </p>
        <% } %>

    </div>
    <div class="col-md-4">
            <div class="row">
                <% model.smallLayoutEntries.forEach(function(entry) { %>
                <p><%- entry %></p>
                <% }); %>
            </div>
    </div>

</div>
<div id="BuzzQ-html-renderHere"></div>