<!-- Render a tweet -->
<%
    var linkPattern = new RegExp('((http)|(https)):\/\/([A-Za-z0-9.\/?=&\-])+(…)*','g');
    var links = model.text.match(linkPattern);
    var twitterNamePattern = new RegExp('@([A-Za-z0-9_])+','g');
    var twitterNames = model.text.match(twitterNamePattern);
    var hashTagPattern = new RegExp('#([A-Za-z0-9_])+','g');
    var hashTags = model.text.match(hashTagPattern);
    var newText = model.text;
%>
    <p>
    <img src="<%=model.imageUrl%>" alt="<%=model.user%>" />
    <a href="https://twitter.com/#!<%=model.user%>" target="_blank">
        <%="@"+model.user%>
    </a>
    <br>
    <%
        if (links!=null || twitterNames !=null || hashTags != null) {
          if (links)
              for (var j = 0; j<links.length; j++) {
                  var htmlLink = '<a href=\"'+links[j] + '\" target=\"_blank\">' + links[j] +'</a>';
                  //debug.println('CHARAT'+links[j].charAt(links[j].length-1));
                  if (links[j].charAt(links[j].length-1) != '…') { //shortened URL such as http://t.co/KzGRIxG…
                      newText = newText.replace(links[j], htmlLink);
                  }
              }
          if (twitterNames)
              for (j = 0; j<twitterNames.length; j++) {
                  var twitterLink = '<a href=\"https://twitter.com/'+twitterNames[j] + '\" target=\"_blank\">' + twitterNames[j] +'</a>';
                  newText = newText.replace(twitterNames[j],twitterLink);
              }
          if (hashTags) { //https://twitter.com/hashtag/tag?src=hash
              var tags = hashTags.sort().reverse(); // to catch problems like '#abc #abcd'

              for (j = 0; j < tags.length; j++) {
                  var tagSansHash = tags[j].substring(1, tags[j].length);
                  var hashTagLink = '<a href=\"https://twitter.com/hashtag/' + tagSansHash + '?src=hash' + '\" target=\"_blank\">' +'HASH'+ tagSansHash + '</a>';
                  newText = newText.replace(tags[j], hashTagLink);
              }
              newText = newText.replace(new RegExp('HASH','g'),'#');
          }
        %>
    <%-newText%><br> <!-- unescaped buffering in this case -->
    <%} else {%>
    <%=newText%><br>
    <%}%>
    <%=model.timestamp%>
    </p>


  