<!-- Render the Twitter results. Template: twitterresults.ejs -->
<!-- <div class="pagination"> -->
  <ol>
      <!-- <li>  <a href="#">Prev</a> </li> -->
      <%
      var counter = 1;
      results.forEach(function(result) {
      if (result.source == "twitter") {
      var linkPattern = new RegExp('((http)|(https))://([A-Za-z0-9\.\/])+','g');
      var links = result.text.match(linkPattern);
      var twitterNamePattern = new RegExp('@([A-Za-z0-9_])+','g');
      var twitterNames = result.text.match(twitterNamePattern);
      var newText = result.text;
      %>
      <li><!-- <a href="#"><%=counter%></a> -->
          <!-- <%=counter%> -->
      <p>
      <img src="<%=result.imageUrl%>" alt="<%=result.user%>" />
      <a href="https://twitter.com/#!<%=result.user%>" target="_blank">
          <%="@"+result.user%>
      </a>
      <br>
      <%
          if (links!=null || twitterNames !=null) {
            if (links)
                for (var j = 0; j<links.length; j++) {
                    var htmlLink = '<a href=\"'+links[j] + '\" target=\"_blank\">' + links[j] +'</a>';
                    newText = newText.replace(links[j],htmlLink);
                };
          if (twitterNames)
                for (j = 0; j<twitterNames.length; j++) {
                    var twitterLink = '<a href=\"https://twitter.com/'+twitterNames[j] + '\" target=\"_blank\">' + twitterNames[j] +'</a>';
                    newText = newText.replace(twitterNames[j],twitterLink);
                };
          %>
      <%-newText%><br> <!-- unescaped buffering in this case -->
      <%} else {%>
      <%=newText%><br>
      <%}%>
      <%=result.timestamp%>
      </p>
      <%
       counter = counter+1;
      }
      });
      %>
      </li>

    <!-- <li> <a href="#">Next</a> </li> -->
  </ol>
</div>